<!DOCTYPE html>
{% load static %}
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>World Vision</title>
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/vendors/aos/dist/aos.css/aos.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/owl.carousel/dist/assets/owl.theme.default.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- endinject -->

     <!-- Google icon -->
     <link
     href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
     rel="stylesheet">

    <script type="text/javascript">
      function showClock(){
        var currentDate = new Date();
        var divClock = document.getElementById('divClock');
        var msg = "";
        if(currentDate.getHours()>12){
          msg += "오후 ";
          msg += currentDate.getHours()-12+"시 ";
       }
       else {
         msg += "오전 ";
         msg += currentDate.getHours()+"시 ";
       }

        msg += currentDate.getMinutes()+"분 ";

        divClock.innerText = msg;

        if (currentDate.getMinutes()>58) {
          divClock.style.color="red";
        }
        setTimeout(showClock,1000);
      }

      // 추천 버튼 처리
      $('.recommend').click(function(){
      var pk = $(this).attr('name') // 클릭한 요소의 attribute 중 name의 값을 가져온다.
      $.ajax({
        type: "POST", // 데이터를 전송하는 방법을 지정한다.
        url: "{% url 'recommend' %}", // 통신할 url을 지정한다.
        data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
        dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.
        // 서버측에서 전송한 데이터 views.py like 메소드
        // context = {'likes_count' : memo.total_likes, 'message' : message}
        // json.dump(context)를 통해서 json 형식으로 전달된다.

        success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
          id = $(this).attr('name')
          $('#count'+ pk).html("count : "+ response.recommend_count);
          alert(response.message);
          alert("추천수 :" + response.recommend.count);
        },
        error:function(request,status,error){
          alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
    });
  })
    </script>
  </head>

  <body onload="showClock()">
    <div class="container-scroller">
      {% include '_navbar.html' %}
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-left">
              <div class="d-flex justify-content-between align-items-center navbar-top">
                <h1 class="font-weight-600 mt-5">
                  {{ news.n_title }}
                </h1>
                <h4 class="font-weight-600 mt-5">
                  <a href='{{ news.o_link }}' style="color:blue;">원본링크</a>
                </h4>
              </div>
              <br>
                <img src="{{ news.nd_img }}" class="rounded mx-auto d-block" alt="world-news"/>
                <div class="d-flex justify-content-between align-items-center navbar-top">
                  <br>
                  {{ news.ns_content }}
                  <br>
                </div>
                <br>  
                <br>
                {{ news.n_content }}
                <br>
                <br>   
                  <!-- 조회수 -->
                  <h5>🖱조회수:{{view.view_count}}   
                    <br>
                    <!-- 추천 -->
                    <input type="button" class="추천" name="{{ r_count.id }}" value="추천">
                    <p id="count{{ r_count.n_id }}">추천: {{ r_count.total_recommend}}</p>
                  </div>
            </div>
          </div>
        </div>
        <div class="row">
          
        </div>
      </div>
    </div>
    <!-- container-scroller ends -->
    <!-- partial:../partials/_footer.html -->
    {% include '_footer.html' %}

    <!-- partial -->
    <!-- inject:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'assets/vendors/aos/dist/aos.js/aos.js' %}"></script>
    <script src="{% static 'assets/vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'assets/js/demo.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>

