<!DOCTYPE html>
{% load static %}
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>World Vision</title>
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/vendors/aos/dist/aos.css/aos.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/owl.carousel/dist/assets/owl.theme.default.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- endinject -->
    <script type="text/javascript">
      function showClock(){
        var currentDate = new Date();
        var divClock = document.getElementById('divClock');
        var msg = "";
        if(currentDate.getHours()>12){
          msg += "오후 ";
          msg += currentDate.getHours()-12+"시 ";
       }
       else {
         msg += "오전 ";
         msg += currentDate.getHours()+"시 ";
       }

        msg += currentDate.getMinutes()+"분 ";

        divClock.innerText = msg;

        if (currentDate.getMinutes()>58) {
          divClock.style.color="red";
        }
        setTimeout(showClock,1000);
      }
    </script>
  </head>

  <body onload="showClock()">
    <div class="container-scroller">
      {% include '_navbar.html' %}
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-left">
              <div class="d-flex justify-content-between align-items-center navbar-top">
                <h1 class="font-weight-600 mt-5">
                  {{ news.n_title }}
                </h1>
                <h4 class="font-weight-600 mt-5">
                  <a href='{{ news.o_link }}' style="color:blue;">원본링크</a>
                </h4>
              </div>
              <br>
                <img src="{{ news.nd_img }}" class="rounded mx-auto d-block" alt="world-news"/>
                <div class="d-flex justify-content-between align-items-center navbar-top">
                  <br>
                  {{ news.ns_content }}
                  <br>
                </div>
                <br>  
                <br>
                {{ news.n_content }}
                <br>
                <br>   
                <!-- 조회수 -->
                <div>
                  <span>조회수 : {{ article.hits }}</span>
              </div> 
          </div>
        </div>
        <div>
      </div>
    </div>
  </div>
    <!-- container-scroller ends -->
    <!-- partial:../partials/_footer.html -->
    {% include '_footer.html' %}

    <!-- partial -->
    <!-- inject:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'assets/vendors/aos/dist/aos.js/aos.js' %}"></script>
    <script src="{% static 'assets/vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'assets/js/demo.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>

<!-- <div class="btn_util share_btn"> 
                      <button id="rSocialShareButton" class="btn_set btn_share" aria-expanded="false">
                        <span class="ico_newsview">공유</span>
                      </button>
                      <div id="rSocialShareLayerContainer">
                        <div class="social_comm_p_hide">
                          <div class="sns_comm_p share_layer">
                            <strong class="screen_out">SNS로 공유하기 펼쳐짐</strong>
                            <ul class="list_sns">
                                <a href="https://twitter.com/?lang=ko" class="link_sns" data-handler="twitter">
                                  <span>"트위터"</span>
                                </a>
                              </li>
                              <li>
                                <a href="www.facebook.com" class="link_sns" data-handler="facebook">
                                  <span>"페이스북"</span>
                                </a>
                              </li>
                            </ul>
                            <div calss="copyUrl">
                              <div class="sns_copyurl">
                                <a href="#" class="link_copyurl">
                                  <span class="screen_out">현재 페이지 URL복사</span>
                                  <span class="txt_url">{news.olink}</span>
                                  <span class="txt_copy">URL복사</span>
                                </a>
                              </div>
                            </div>
                            <button class="btn_close">
                              <span class="img_social ico_close">공유목록 닫기</span>
                            </button>
                          </div>
                          <div class="sns_comm_p share_layer">
                            <div class="inner_copyurl">
                              <p class="desc_copy_url">
                                "주소가 복사되었습니다"
                                <br>
                                "원하는 곳에 붙여넣기 하세요"
                              </p>
                              <button class="btn_close">
                                <span class="img_social ico_close">공유목록 닫기</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div> 
                    </div>   -->
